
body{
    font-family: 'Muli', san-serif;
}

.header{
    height: 620px;
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    background-position: 50% 40%;
}

.header-brand-wrapper {
    margin-top: 50px;           /** problem: weil kein float oder padding statt margin verwendet wird, wird alles nach unten geschoben --> float einfügen */
    float:left;              
}

.header-brand {
    color: white;
    font-size: 170%;
    font-weight: bold;
    text-decoration: none;
    display: block;             /** a = inline element --> wird als Blockelement dargestellt, damit margin verwendet werden kann */
    margin-top: -3%;            /** damit auf gleicher Höhe wie navbar */
    text-shadow: 0px 0px 10px black;
}

.header-brand:hover {
    color: yellow;
    font-size: 170%;
    font-weight: bold;
    text-decoration: none;
    display: block;             /** a = inline element --> wird als Blockelement dargestellt, damit margin verwendet werden kann */
    margin-top: -3%;            /** damit auf gleicher Höhe wie navbar */
    text-shadow: 0px 0px 10px black;
}

.header-navbar-links{
    color: white;
    font-size: 150%;
    margin-top: 50px;
    float: right;
}

.header-navbar-links li {
    float: left;
    list-style-type: none;
    margin-left: 25px;
    border-color: white;
    text-shadow: 0px 0px 10px black;
}

.header-navbar-links li:hover {
    float: left;
    list-style-type: none;
    margin-left: 25px;
    border-color: yellow;
    text-shadow: 0px 0px 10px black;
    color: yellow;
}

.slogan {
    padding-top: 185px;
    color: rgb(255, 217, 0);
    text-align: center;
    text-shadow: 0px 0px 10px black;
}

.slogan-top {
    font-size: 270%;
    font-weight: lighter;
}

.slogan-bottom {
    font-size: 310%;
    font-weight: bold;
}

.slogan-button {
    margin-top: 20px;
    color: white;
    text-shadow: 0px 0px 10px black;
    font-size: 120%;
    border-color: yellow;
}

.slogan-button:hover {
    margin-top: 20px;
    color: yellow;
    text-shadow: 0px 0px 10px black;
    font-size: 120%;
    border-color: yellow;
}



.service {
    padding-top: 100px;         /** padding statt margin - damit background-color durchgängig ist */
    padding-bottom: 100px;
}